.header-container {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #d6d0cb;
}

/* util header */
.header-container__util-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header-container__util-bar--left {
    width: 120px;
}

.header-container__util-bar--right {
    display: flex;
}

.util-bar--right__location {
    margin-right: 20px;
}

.location-icon,
.user-icon {
    margin-right: 5px;
}

.down-arrow-icon {
    width: 10px;
    height: 6px;
    margin-left: 5px;
}

/* main header */

.header-container__main-bar {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
    grid-column-gap: 20px;
    align-items: center;
}

.main-bar__logo {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 220px;
    position: relative;
}

.main-bar__search {
    display: flex;
    justify-content: space-between;
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 15px 0px;
}

.search__form {
    display: flex;
    overflow: hidden;
    width: 168px;
    border: 1px solid #d6d0cb;
    border-radius: 100px;
}

.search__form__search-img {
    padding: 12px 5px 12px 10px;
}

.search__form__search-img img {
    width: 16px;
    height: 16px;
}

.search__form__input {
    height: 35px;
    padding: 10px;
    outline: none;
}

.main-bar__nav-container {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
}

.nav__item {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}

.nav__item:hover {
    color: #d52975;
    border-bottom: 1px solid #d52975;
    cursor: pointer;
    margin-bottom:  -1px;
}

.nav__item.sale {
    color: #d52975;
}

.nav__item.sale:hover {
    color: #000000;
    border-bottom: 1px solid #d52975;
    cursor: pointer;
    margin-bottom:  -1px;
}